<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type="image/png" href="../static/imag/asset-15.png">
  <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Thi Code</title>
</head>

<body>
  <i class="bi bi-list menu-mobile"></i>
  <aside id="header">
    <section class="profile">
      <img src="../static/img/perfil.jpg" alt="Foto do Leandro">
      <h1>Leandro Fernandes</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/leandro-fernandes-4506a2237/"><i
            class="bi bi-linkedin"></i></a>
        <a target="_blank" href="https://github.com/leandro-fernandes"><i class="bi bi-github"></i></a>
        <a target="_blank" href="mailto:leandro.fernandes@aluno.ifsp.edu.br"><i class="bi bi-envelope"></i></a>
      </div>
    </section>
    <nav id='navbar' class="nav-menu">
      <ul class="nav flex-column">
        <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
        <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
        <a class="nav-link" href="#"><i class="bi bi-list-check" aria-hidden="true"></i> Habilidades</a>
        <a class="nav-link" href="#"><i class="bi bi-file-earmark" aria-hidden="true"></i> Curriculo</a>
        <a class="nav-link" href="#"><i class="bi bi-collection" aria-hidden="true"></i> Portfólio</a>
        <a class="nav-link" href="#"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
      </ul>
    </nav>
  </aside>
  <main id="main">
    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class=" text-shadow">Leandro Fernandes</h2>
        <span id="subtitle" class="text-shadow">Analista de Dados</span>
      </div>
      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a>
        </div>
      </div>
    </section>
    <section id='sobre' class="container mt-5">
      <div class="row w-100">
        <div class="col-md-12" data-anime="down">
          <h2 class="pt-3">Sobre</h2>
          <p>Leandro Fernandes** é Analista de BI com 20 anos de experiência na área de tecnologia, atuando em diversos
            clientes e setores. Possui amplo conhecimento em análise de dados, modelagem de informações e criação de
            soluções estratégicas para suporte à tomada de decisão.
            Com uma trajetória consolidada, Leandro se destaca pelo domínio de ferramentas de Business Intelligence,
            processamento de dados e visualização, sempre buscando inovação e eficiência nos projetos em que participa.
            Seu compromisso com a excelência e a otimização de processos o torna um profissional essencial para
            transformar dados em insights valiosos para as empresas.
            Além de suas habilidades técnicas, Leandro é conhecido por sua capacidade de comunicação clara e eficaz, o
            que o torna um colaborador valioso em equipes multidisciplinares. Sua experiência e paixão pela área de
            tecnologia o tornam um profissional de referência no mercado de BI.
          </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <img class="img-fluid shadow mt-4" src="../static/img/perfil.jpg" alt="Imagem Leandro">
        </div>
        <div class="col-md-8">
          <h3>Analista de BI</h3>
          <p>Atualmente atuo como Analista de BI na modelagem de dados, garantindo a qualidade e a integridade das
            informações, e no desenvolvimento
            de soluções de Business Intelligence para otimizar processos e gerar insights valiosos para os clientes. Seu
            trabalho envolve a utilização de ferramentas e tecnologias avançadas para facilitar a visualização e
            interpretação dos dados, ajudando empresas a tomarem decisões mais assertivas e orientadas por dados.
          </p>
          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">Niver: <span class="fw-lighter">12 de Outubro 1974</span></li>
                <li class="list-group-item">  Idade: <span class="fw-lighter">50 Anos</span></li>
                <li class="list-group-item">Cidade: <span class="fw-lighter">Barueri</span></li>
                <li class="list-group-item">Estado: <span class="fw-lighter">São Paulo</span></li>

              </ul>
            </div>

            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">Hobby: <span class="fw-lighter">Academia</span></li>
                <li class="list-group-item">Site: <a href="" target="_blank"
                    class="fw-lighter text-decoration-none link-dark">Lfernandes</a> </li>
                <li class="list-group-item">Trabalho: <a href="" target="_blank"
                    class="fw-lighter text-decoration-none link-dark">Lfernandes.tech</a> </li>
                <li class="list-group-item">Experiência: <span class="fw-lighter">25 Anos</span></li>

              </ul>
            </div>
          </div>
          <p>
            Com uma vasta experiência em análise de dados, modelagem de informações e criação de soluções estratégicas,
            Leandro Fernandes é um profissional altamente qualificado e dedicado. Sua expertise em ferramentas de
            Business Intelligence, processamento de dados e visualização o torna um profissional essencial para
            transformar dados em insights valiosos para as empresas.

          </p>

        </div>
      </div>
    </section>

  </main>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>